* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/* reset de los estilos*/

#root {
  background-color: #3C3C3C;
  width: 100vw;
  min-height: 100vh;  
  display: flex;
  justify-content: center; /*centrado horizontal*/
  padding: 0px 0;

}